body {
    background-color:rgb(255, 255, 255);
    margin: 0;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}

div {
    font-family:Arial, Helvetica, sans-serif;
    height: 300px;
    width: 500px;
    border-radius: 8px;
    background-color:rgb(173, 185, 197);
    display: grid;
    place-items: center;
}

p1 {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    align-items: center;
    border-color: rgb(73, 173, 255);
    border-radius: 10px;
    height: 40px;
    width: 100px;
}

input {
    height: 30px;
    width: 400px;
    border-radius: 10px;
}